.contacts {
  @include mobile-width-only() {
    @include decorative-line-border();

    &::after {
      top: 30px;
    }
  }

  outline: 1px solid red;
}

.contacts__title {
  @include footer-title();

  margin-bottom: 7px;
}
