.footer-nav {
  @include list-style-none();
  @include decorative-line-border();
  @include decorative-line-border();

  &::after {
    top: 15px;
  }

  outline: 1px solid red;
}

.footer-nav__item {}

.footer-nav__title {
  @include footer-title();
}

.footer-nav__sub-nav {
  display: none;
}

/****************************************/
/* .footer-nav {
  @include list-style-none();

  margin-bottom: 65px;

  @include tablet-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 0px;
  }
} */

/* .footer-nav__item {
  &--partners {
    @include mobile-width-only()  {
      @include decorative-line-border();

      margin-bottom: 40px;

      &::after {
        top: 14px;
      }
    }
  }

  &--contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mobile-width-only()  {
      @include decorative-line-border();

      &::after {
        top: 35px;
      }
    }
  }

  @include tablet-width() {
    width: 20%;
    padding-right: 50px;
  }
} */

/* .footer-nav__title-link {
  @include font-options($font-bold, 14px, 24px, $text-base-color);
  @include add-interactive-text-link();

  display: block;
  padding-bottom: 15px;

  text-transform: uppercase;

  &--contacts {
    width: 100%;
  }
} */

/* .footer-nav__sub-nav {
  display: none;

  @include tablet-width() {
    @include list-style-none();
  }
} */

/* .footer-nav__sub-nav-link {
  @include font-options($font-regular, 13px, 34px, $text-base-color);
  @include add-interactive-text-link();
} */

/* .footer-nav__contacts {
  margin-bottom: 35px;
} */
