.footer-nav {
  @include list-style-none();
  @include decorative-line-border();
  @include decorative-line-border();

  &::after {
    top: 15px;
  }

  @include tablet-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &::after {
      top: 23px;
    }
  }

  @include desktop-width() {
    &::after {
      content: none;
    }
  }
}

.footer-nav__item {
  @include tablet-width() {
    width: 20%;

    margin-right: 5%;

    &:last-child {
      margin-right: 0;
    }
  }

  @include desktop-width() {
    &:last-child {
      margin-right: 5%;
    }
  }
}

.footer-nav__title {
  @include footer-title();
}

.footer-nav__sub-nav {
  display: none;

  @include tablet-width() {
    @include list-style-none();

    display: block;
  }
}

.footer-nav__sub-nav-link {
  @include block-style();
  @include font-options($font-regular, 13px, 34px, $text-base-color);
  @include add-interactive-text-link();
}
