.logo {
  display: block;
}

.logo__image {
  width: 88px;
  height: 17px;

  @include tablet-width() {
    width: 131px;
    height: 26px;
    margin: 0 auto;
  }

  @include desktop-width() {
    width: 175px;
    height: 34px;
    margin: 0 0 0 11px;
  }
}

.logo__intro {
  display: none;

  @include tablet-width() {
    @include block-style();
    @include font-options($font-regular, 12px, 12px, $text-base-color);

    padding-top: 12px;
  }
}


/***********************/
/* .logo {
  display: block;

  @include tablet-width() {
    width: 188px;
  }
}

.logo__image {
  display: block;
  width: 88px;
  height: 17px;

  @include tablet-width() {
    width: 131px;
    height: 26px;
    margin: 0 auto;
  }

  @include desktop-width() {
    width: 175px;
    height: 34px;
    margin: 0 0 0 11px;
  }
}

.logo__intro {
  display: none;

  @include tablet-width() {
    display: block;
    margin: 0 auto;
    padding-top: 12px;

    @include font-options($font-regular, 12px, 12px, $text-base-color);
  }
}
 */
