.page-footer__wrapper {
  &--top {
    background-color: $bg-light-green-color;
  }

  &--bottom {
    background-color: $bg-green-color;
  }
}

.page-footer__container {
  @include tablet-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--top {
    @include container($mobile-width, $mobile-padding, 40px, 40px);

    @include tablet-width() {
      @include container($tablet-width, $tablet-padding, 50px, 50px);
    }

    @include desktop-width() {
      @include container($desktop-width, $desktop-padding, 77px, 77px);
    }
  }

  &--bottom {
    @include container($mobile-width, $mobile-padding, 17px, 12px);

    @include tablet-width() {
      @include container($tablet-width, $tablet-padding, 17px, 12px);

      justify-content: space-between;
    }

    @include desktop-width() {
      @include container($desktop-width, $desktop-padding, 17px, 12px);
    }
  }
}

.page-footer__nav {
  margin-bottom: 45px;

  @include tablet-width() {
    width: 100%;
    margin-bottom: 60px;
  }

  @include desktop-width() {
    width: 68%;
    margin-bottom: 0;
  }
}

.page-footer__contacts {
  margin-bottom: 60px;

  @include tablet-width() {
    width: 40%;
    margin: 0 auto 0 0;
  }

  @include desktop-width() {
    width: 17%;
    margin-right: 0;
  }
}

.page-footer__additionally {
  @include tablet-width() {
    width: 40%;
  }

  @include median-widths() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop-width() {
    width: 15%;
    margin-top: 4px;
  }
}

.page-footer__payment {
  margin-bottom: 40px;

  @include tablet-width() {
    margin-bottom: 60px;
  }

  @include median-widths() {
    width: 40%;
  }
}

.page-footer__privacy-policy {
  @include median-widths() {
    width: 40%;
  }
}

.page-footer__copyright {
  @include tablet-width() {
    max-width: 40%;
  }
}

.page-footer__developer {
  @include tablet-width() {
    max-width: 40%;
  }
}
