.page-footer__wrapper {
  &--top {
    background-color: $bg-light-green-color;
  }

  &--bottom {
    background-color: $bg-green-color;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--top {
    @include desktop-width() {
      @include container($desktop-width, $desktop-padding, 77px, 76px);
    }
  }

  &--bottom {
    justify-content: space-between;

    @include desktop-width() {
      @include container($desktop-width, $desktop-padding, 17px, 12px);
    }
  }
}

.page-footer__nav {
  @include desktop-width() {
    width: 85%;
  }
}

.page-footer__additionally {
  @include desktop-width() {
    width: 15%;
  }
}

.page-footer__payment {
  margin-bottom: 60px;
}
