.payment {
  outline: 1px solid green;
}

.payment__intro {
  @include block-style();
  @include font-options($font-semi-bold, 12px, 18px, $text-base-color);

  margin-bottom: 16px;
}

.payment__img {
  width: 195px;
  height: 48px;

  margin-bottom: 15px;
}

.payment__text {
  @include block-style();
  @include font-options($font-regular, 12px, 18px, $text-base-color);
}


/***************************/
/* .payment {
  width: 50%;
  min-width: 260px;
  padding: 0 80px 0 0;

  @include desktop-width() {
    padding-top: 5px;
  }
}

.payment__intro {
  @include font-options($font-semi-bold, 12px, 18px, $text-base-color);

  display: block;
  margin-bottom: 15px;
}

.payment__img {
  display: block;
  width: 239px;
  height: 48px;
  margin: 0 0 15px -19px;
}

.payment__text {
  @include font-options($font-regular, 12px, 18px, $text-base-color);

  margin: 0;
}
 */
