.ship-to {
  padding: $mobile-padding $mobile-padding 15px;

  @include desktop-width() {
    display: flex;
    align-items: center;

    max-width: 400px;
    padding: 0 50px 0 0;
  }
}

.ship-to__intro {
  @include font-options($font-regular, 12px, 12px, $text-base-color);

  margin: 0;

  @include desktop-width() {
    margin: -8px 0 0;
  }
}

.ship-to__link {
  @include add-interactive-text-link(".ship-to__link-text");

  &:hover .ship-to__image,
  &:focus .ship-to__image {
    fill: $link-hover-color;
  }
}

.ship-to__link-text {
  @include font-options($font-regular, 12px, 12px, $text-base-color);

  padding: 0 5px;

  text-decoration: underline;
}

.ship-to__image {
  width: 7px;
  height: 7px;

  fill: $link-base-color;
  pointer-events: none;
}
