.contacts-social {
  outline: 1px solid green;
}

.social__intro {
  @include block-style();
  @include font-options($font-semi-bold, 12px, 18px, $text-base-color);

  margin-bottom: 12px;
}

.social__list {
  @include list-style-none();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social__item {
  margin: 3px 8px 0 0;
}

.social__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  background-color: rgba($text-green-color, 0.08);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: rgba($text-green-color, 0.2);
  }

  &:active {
    opacity: 0.3;
  }
}

.social__image {
  display: block;

  &--vk {
    width: 14px;
    height: 8px;
  }

  &--fb {
    width: 7px;
    height: 13px;
  }

  &--ok {
    width: 8px;
    height: 13px;
  }

  &--youtube {
    width: 13px;
    height: 10px;
  }

  &--instagam {
    width: 13px;
    height: 13px;
  }
}


/**************************************/
/* .social__intro {
  @include font-options($font-semi-bold, 12px, 18px, $text-base-color);
}

.social__list {
  @include list-style-none();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social__item {
  margin: 3px 8px 0 0;
}

.social__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  background-color: rgba($text-green-color, 0.08);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: rgba($text-green-color, 0.2);
  }

  &:active {
    opacity: 0.3;
  }
}

.social__image {
  display: block;

  &--vk {
    width: 14px;
    height: 8px;
  }

  &--fb {
    width: 7px;
    height: 13px;
  }

  &--ok {
    width: 8px;
    height: 13px;
  }

  &--youtube {
    width: 13px;
    height: 10px;
  }

  &--instagam {
    width: 13px;
    height: 13px;
  }
}
 */
