.sub-nav {
  background-color: $bg-base-color;
}

.sub-nav__container {
  @include container($mobile-width, 0, 15px, 15px);

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 33px, 28px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.sub-nav__nav-wrapper {
  padding: 15px $mobile-padding;

  &--contacts {
    @include mobile-width-only() {
      display: none;
    }
  }

  &--user-nav {
    @include decorative-line-border();

    padding-bottom: 15px;

    @include desktop-width() {
      order: 1;
      margin-left: 25px;
    }
  }

  &--ship-to {
    @include desktop-width() {
      margin-right: auto;
    }
  }

  &--nav-search {
    @include decorative-line-border();

    &::after {
      top: 15px;
    }
  }

  @include desktop-width() {
    padding: 0;

    &::after {
      content: none;
    }
  }
}
