.user-nav__list {
  @include list-style-none();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding: 0 30px 0 40%;

  @include tablet-width() {
    padding: 9px 0 0;
  }
  @include desktop-width() {
    padding: 0; // 0 0 25px;
  }
}

.user-nav__item {
  &--favorite {
    @include contains-quantity("1");
  }

  &--shopping-bag {
    @include contains-quantity("3");

    &::after {
      transform: translateX(1px) translateY(-100%);

      @include desktop-width() {
        transform: translateX(1px) translateY(-15px);
      }
    }
  }
}

.user-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  padding: 5px;

  @include tablet-width() {
    min-width: 40px;
    min-height: 40px;
    padding: 7px;
  }

  @include desktop-width() {
    min-width: 52px;
    height: 52px;
    padding: 10px;
  }

  &:hover .user-nav__image,
  &:focus .user-nav__image {
    fill: $link-hover-color;
  }

  &:active .user-nav__image {
    fill: rgba($link-hover-color, 0.3);
  }
}

.user-nav__image {
  fill: $link-base-color;
  pointer-events: none;

  &--user {
    width: 14px;
    height: 14px;

    @include tablet-width() {
      width: 18px;
      height: 18px;
    }

    @include desktop-width() {
      width: 20px;
      height: 20px;
    }
  }

  &--compare {
    width: 14px;
    height: 13px;

    @include tablet-width() {
      width: 17px;
      height: 16px;
    }

    @include desktop-width() {
      width: 19px;
      height: 18px;
    }
  }

  &--favorite {
    width: 14px;
    height: 14px;

    @include tablet-width() {
      width: 19px;
      height: 19px;
    }

    @include desktop-width() {
      width: 21px;
      height: 21px;
    }
  }

  &--shopping-bag {
    width: 14px;
    height: 14px;

    @include tablet-width() {
      width: 18px;
      height: 18px;
    }

    @include desktop-width() {
      width: 20px;
      height: 20px;
    }
  }
}


/**********************************/
/* .user-nav__list {
  @include list-style-none();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding: 0 $mobile-padding 15px 93px;

  @include tablet-width() {
    padding: 25px 0 25px 120px;
  }

  @include desktop-width() {
    padding: 0 0 0 25px;
  }
}

.user-nav__item {
  &--favorite {
    @include contains-quantity("1");
  }

  &--shopping-bag {
    @include contains-quantity("3");

    &::after {
      transform: translateX(1px) translateY(-100%);

      @include desktop-width() {
        transform: translateX(1px) translateY(-15px);
      }
    }
  }
}

.user-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  padding: 5px;

  @include tablet-width() {
    min-width: 40px;
    height: 40px;
    padding: 10px;
  }

  @include desktop-width() {
    min-width: 52px;
    height: 52px;
    padding: 10px;
  }

  &:hover .user-nav__image,
  &:focus .user-nav__image {
    fill: $link-hover-color;
  }

  &:active .user-nav__image {
    fill: rgba($link-hover-color, 0.3);
  }
}

.user-nav__image {
  fill: $link-base-color;
  pointer-events: none;

  &--user {
    width: 14px;
    height: 14px;

    @include tablet-width() {
      width: 18px;
      height: 18px;
    }

    @include desktop-width() {
      width: 20px;
      height: 20px;
    }
  }

  &--compare {
    width: 14px;
    height: 13px;

    @include tablet-width() {
      width: 17px;
      height: 16px;
    }

    @include desktop-width() {
      width: 19px;
      height: 18px;
    }
  }

  &--favorite {
    width: 14px;
    height: 14px;

    @include tablet-width() {
      width: 19px;
      height: 19px;
    }

    @include desktop-width() {
      width: 21px;
      height: 21px;
    }
  }

  &--shopping-bag {
    width: 14px;
    height: 14px;

    @include tablet-width() {
      width: 18px;
      height: 18px;
    }

    @include desktop-width() {
      width: 20px;
      height: 20px;
    }
  }
}
 */
