$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1920px;
$mobile-padding: 50px;
$tablet-padding: 100px;
$desktop-padding: 180px;
$mobile-width-only: 767px;

/*  ШРИФТЫ  */
$font-regular: "Montserrat-regular", "Arial", sans-serif;
$font-semi-bold: "Montserrat-semi-bold", "Arial", sans-serif;
$font-bold: "Montserrat-bold", "Arial", sans-serif;

/*  ЦВЕТА  */
//  Текст
$text-base-color: #000000;
$text-green-color: #009b77;

//  Фон
$bg-base-color: #ffffff;
$bg-light-green-color: #f0f9f7;
$bg-green-color: #009b77;
